In [1]:
import pandas as pd
import ast
import matplotlib.pyplot as plt

In [2]:
movie_database = pd.read_csv('tmdb.movies.csv')
movie_database.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [3]:
movie_database.genre_ids = movie_database.genre_ids.apply(lambda x: list(set(ast.literal_eval(x))))

In [4]:
genre_id = {28:"Action",
            12:"Adventure",
            16:"Animation",
            35:"Comedy",
            80:"Crime",
            99:"Documentary",
            18:"Drama",
            10751:"Family",
            14:"Fantasy",
            36:"History",
            27:"Horror",
            10402:"Music",
            9648:"Mystery",
            10749:"Romance",
            878:"Science Fiction",
            10770:"TV Movie",
            53:"Thriller",
            10752:"War",
            37:"Western"}
genre_id

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [5]:
def num_to_genre(genre_id,lis):
    retList = []
    for i in range(len(lis)):
        retList.append(genre_id[lis[i]])
    return retList

In [7]:
x = movie_database.genre_ids
x = x.apply(lambda x: num_to_genre(genre_id,x))
movie_database['genre_names'] = x

In [9]:
movie_database['string_genres'] = movie_database['genre_names'].apply(lambda x: str(x))
movie_database['year'] = pd.to_datetime(movie_database['release_date']).dt.year

In [17]:
valueList = list(genre_id.values())

length_of_dataframe = len(movie_database.genre_ids)
for x in valueList:
    movie_database[x] = False*length_of_dataframe
movie_database

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,release_year
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,...,0,0,0,0,0,0,0,0,0,2010
1,1,"[16, 12, 14, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,0,0,0,0,0,0,0,0,0,2010
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,0,0,0,0,0,0,0,0,0,2010
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,...,0,0,0,0,0,0,0,0,0,1995
4,4,"[28, 12, 878]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,...,0,0,0,0,0,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[18, 27]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,...,0,0,0,0,0,0,0,0,0,2018
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,...,0,0,0,0,0,0,0,0,0,2018
26514,26514,"[28, 12, 14]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,...,0,0,0,0,0,0,0,0,0,2018
26515,26515,"[12, 28, 10751]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,...,0,0,0,0,0,0,0,0,0,2018
26516,26516,"[27, 53]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,...,0,0,0,0,0,0,0,0,0,2018

In [18]:
for i,x in enumerate(movie_database.genre_names):
    for genre_name in x:
        movie_database[genre_name][i] = 1

<ipython-input-18-04f62e4abd81>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_database[genre_name][i] = 1

In [19]:
x = movie_database.release_date.apply(lambda x: (x[:4]))
movie_database['release_year'] = x

In [20]:
x = movie_database.groupby(['release_year'])[valueList].sum().unstack()

In [22]:
x = x.apply(lambda x: num_to_genre(genre_id,x))
movie_database['genre_names'] = x

TypeError: object of type 'int' has no len()

In [21]:
genre_names_ordered = {}
for p in genre_names:
    genre_names_ordered[p] = x[p].mean()

genre_names_ordered = sorted(genre_names_ordered.items(), key=lambda item: item[1],reverse=True)
genre_names_ordered
genre_names_sorted = [genre_names_ordered[i][0] for i in range(len(genre_names_ordered))]
genre_names_sorted

NameError: name 'genre_names' is not defined